@import url(https://fonts.google.com/specimen/Manrope);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: hsl(217, 19%, 35%);
  --sdarkblue: hsl(214, 17%, 51%);
  --grayblue: hsl(212, 23%, 69%);
  --lgrayblue: hsl(210, 46%, 95%);
}

body {
  font-family: Manrope;
  font-size: 1rem;
  background-color: var(--lgrayblue);
}
html {
  font-size: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  display: grid;
  place-items: center;
}
main {
  width: 95%;
  max-width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: white;
  height: fit-content;
  border: none;
  border-radius: 1rem;
  gap: 0%;
}

.flex-1 {
  flex-basis: 50%;
  flex-grow: 2;
}
.flex-2 {
  position: relative;
  flex-basis: 50%;
  flex-shrink: 2;
}
/* Styling the first flex item */
.image img {
  width: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
}
/* Styling the second flex item */
.text {
  padding: 0.7rem;
  padding-bottom: 0;
  margin: 0.8rem 0 0 0;
}
.text h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}
.text p {
  font-weight: 500;
}

/* styling the footer part */
.footer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}
.avatar {
  width: 70px;
  border-radius: 50%;
}

.icon {
  padding: 10px;
  border: none;
  border-radius: 50%;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.btn-icon {
  font-size: 1.2rem;
}

.relative {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  left: 65%;
  bottom: 90%;
  padding: 0.5rem 0.5rem;
  gap: 1rem;
  background-color: var(--sdarkblue);
}
.icon-wrapper p {
  font-size: 1.2rem;
  color: white;
}
.share-icon {
  font-size: 1.2rem;
  color: white;
}
@media (max-width: 600px) {
  main {
    display: block;
    background: none;
    width: 100vw;
    margin: 0 auto;
    height: fit-content;
    border: none;
    border-radius: 10px;
  }
  .flex-1 {
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .share-click {
    background-color: var(--sdarkblue);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1.5rem;
  }
}
@media (max-width: 500px) {
  .flex-2 {
    background-color: white;
    padding: 1rem;
    padding-bottom: 0%;
  }
  .share-click {
    background-color: var(--sdarkblue);
    display: none;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
    position: static;
    border-radius: 0%;
    border: none;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 1rem;
  }
  .text h2 {
    font-size: 1.2rem;
  }
}
